.item-club {
    border-top: 2px solid;
    padding: 20px 10px;

    &:hover {
        .row {
            filter: brightness(80%);
            cursor: pointer;
        }
    }
}

.item-club-titre {
    font-weight: bold;
}

.item-club-btn {
    .btn {
        background-color: #fff;
        border: 1px solid #000;
        color: #000;
        border-radius: 10px;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}

.item-club-footer {
    background: #222;
    padding: 26px 24px;
}